@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap");

.Whole_div {
  background-repeat: repeat;
  background-size: auto 100vh;
  font-family: "Montserrat", sans-serif;
  position: relative;
  overflow: hidden;
  max-width: 100vw; 
  align-items: center; 
}

.mediaInfo {
  margin-top: 10vh;
  background-size: auto 100vh;
  align-items: center;
}

.color_section {
  position: relative;
  /* max-height: 100vh; */
  width: 100%;
}
.color_section video{
  position:absolute;
  top:0;
  left:0;
  
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 1.5; 
  
}
/* .color_sectionbg { */
  /* background: linear-gradient(#1f0c3c, #040507); */
/* } */

h1 {
  text-align: center;
  font-size: 5rem;
  font-weight: 600;
}

.Row {
  text-align: center;
}

.info {
  margin-top: 20vh;
  color: white;
}

/* .info-div{
  
  position: relative;
  /* bottom: 14rem; */


/* .single_row{
display: flex;
align-content: center;
align-items: center;
} */

.d-image img {
  width: 100%;
  position: relative;
  transition: 0.3s;
  top: 0px;
  transition: top 0.2s linear;
}

.d-image img:hover {
  opacity: 0.9;
  top: 10px;
}

.logoSection {
  text-align: center;
  background-repeat: no-repeat;
  background-position: right ;
  padding: 20vh 10vh 5rem 10vh;

}

.logocover {
  background: linear-gradient(#141a2a 30%, #0f192e); 
  width: 100vw;
  padding-bottom: 10vh;
  
}

/* Regular styles for the themes section */
.themes-section {
  background: #fff;
  width: 100vw;
  background: linear-gradient(#141a2a 30%, #0f192e);
  padding-top: 2rem;
  padding-bottom: 10rem;
}

/* Font color for h1 */
.themes-section > h1 {
  color: #f3f0f4;
}

/* Styles for members section */
.members {
  padding: 0vh 10vh 0 10vh;
}

/* Styles for prizes section */
.prizesection {
  text-align: center;
  max-width: 100vw;
  padding: 12vh 14vh 4vh 14vh;
  background: linear-gradient(#141a2a 30%, #0f192e);
  padding-bottom: 10vh;
  color: rgb(237, 237, 236);
}

/* Media query for smaller font size on mobile devices */
@media only screen and (max-width: 768px) {
  .themes-section > h1 {
    font-size: 3.7rem; /* Adjust the font size as per your requirement */
  }
}

.faqs{
  background-size: 100vw 100%;
  background-repeat: no-repeat;
}
.mainFaqs{
  background: linear-gradient(#141a2a 30%, #0f192e);
  /* width: 100vw; */

}
.sponsorSection {
  padding: 17vh 18vh 0 18vh;
  max-width: 100vw;
  height: 100vh;
  /* margin-top: -10vh; */
  /* margin-top: 0vh; */
  /* background-image: linear-gradient(to bottom right, #7742B2 0%, #F180FF 70%, #FD8BD9 100%); */
  /* background: linear-gra); */
  background-color: rgb(250, 246, 251);
  
  
}

.sponsorSection h5 {
  color:#ffe;
  color: rgb(18, 18, 18);
}
.sponsorSection h1{
  color: rgb(237, 237, 236);
  color: rgb(18, 18, 18);
}
.team-section {
  /* background-image: linear-gradient(to top right, #7742B2 0%, #F180FF 70%, #FD8BD9 100%); */
  /* background: linear-gradient(#563b7e 30%, #0f192e); */
  max-width: 100vw;
  
  background: linear-gradient(#141a2a 30%, #0f192e );
  padding-bottom: 7vh;
}

.faq-section {
  /* background-image: linear-gradient(to bottom right, #7742B2 0%, #F180FF 70%, #FD8BD9 100%); */
  background: linear-gradient(#141a2a 30%, #0f192e);

  /* padding-bottom: 4vh; */
}

.Myfaqs{
padding: 10vh 0 10vh 0;
}

#faquncle{
  position: absolute;
  left: -10%;
  bottom: 3%;
  height: 90rem;
}
.faqtp{
  background: linear-gradient(#141a2a 30%, #0f192e);

}
.devfolio-img img {
  width: 17%;
  margin-right: 2%;
}

@media (max-width: 570px) {
  .mediaInfo {
    margin-top: 0;
    align-items: center; 
  }

  .Whole_div {
    background-size: auto 100vh;
  }

  .faqsSection {
    padding: 0;
    margin-top: 0vh;
  }

  .members {
    margin: 0;
    padding: 0;
  }

  .prizesection {
    padding: 17vh 0 0 4vh;
  }

  .sponsorSection {
    padding: 0;
    margin: 0;
    margin: 12rem auto;
  }

  .logoSection {
    text-align: center;
    padding: 20vh 0vh 0 0vh;      
  }

  /* .info-div {
    align-items: center; 
    
  } */

   
}
/* @media (max-width: 989px){
  .logoSection {
    align-items: center;
    padding: 20vh 0vh 0 0vh;      
  }
    
} */

@media (max-width: 989px){
  .logoSection {
    /* text-align: center; */
    align-items: center;
    padding: 20vh 0vh 0 0vh;      
  }

  .info {
    margin-top: 15vh;
  }

  @media (max-width: 767px) {
    .info-div {
      background-color: transparent; /* Remove background color on small screens */
      padding: 10px; /* Adjust padding */
    }
  }
  
  /* Media query for medium screens */
  @media (min-width: 768px) and (max-width: 991px) {
    .info-div {
      padding: 15px; /* Adjust padding */
    }
  }
  
  /* Media query for large screens */
  @media (min-width: 992px) {
    .info-div {
      padding: 20px; /* Reset padding for large screens */
    }
  }
  
  /* Styles for the media section */
  .mediaInfo {
    margin-top: 20px; /* Example margin top */
  }
  
  /* Media query for adjusting margin on small screens */
  @media (max-width: 767px) {
    .mediaInfo {
      margin-top: 10px; /* Adjust margin for small screens */
    }

    @media (max-width: 570px){
      .info{
        margin-top: 10vh;
      }
    }
  }
    
}