.dev-button-footer {
  align-items: center;
  background-color: #3770ff;
  border-radius: 4px;
  color: #fff;
  display: flex;
  font-size: 20px;
  font-weight: 600;
  height: 44px;
  justify-content: center;
  outline: none;
  padding: 0 32px;
  transition: all 0.1s ease-in 0s;
  white-space: nowrap;
  width: 100%;
}
.hhh{
  color: white;
}
.social-icons-container {
  padding: 22px;
  display: flex;
  flex-direction: row;
  justify-content:left;
  align-items:left;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  // margin-top: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  // background-color: rgb(32, 32, 32);
  background-color: #121930;
  

  
}
.footer p {
  font-weight: 500;
  font-size: 1.5rem;
  color: white;

  
}
.footer i {
  margin: 2rem;
  justify-content: center;
  align-items: center;
}
.footer a {
  color: aliceblue;
  position: relative;
  top: 0px;
  transition: all .2s linear;
}
.footer a:hover{
  top:-5px;
  opacity: 0.85;
}
.footer img{
  width: 70%;
}
.footer .svg-icon{
  width: auto;
}
.footer img:hover{
  // transform: scale(1.1);
  top: -5px;
  // transition: all .2s linear;
}
.pp{
  background-color:#0c1220;
}
.map-container p{
  align-items: center;
  justify-content: center;
  text-align: center;
}
.footer_info {
  padding: 20px 0;
  background-color: rgb(32, 32, 32);
}
.Register_a {
  padding: 70px 0;
  background-color: #121930;
  display: flex;
  justify-content: center;
}
.Register_a a {
  margin-left: 10px;
  margin-right: 10px;
}
.map-iframe {
  width: 100%; // Adjusted width
  max-width: 400px; // Adjusted maximum width
  height: 300px; // Adjusted height
  margin: 0 auto; // Center the iframe horizontally
}
@media screen and (max-width: 400px){
  .map-iframe {
    width: 100%; // Adjusted width
    max-width: 300px; // Adjusted maximum width
    height: 200px; // Adjusted height
    margin: 0 auto; // Center the iframe horizontally
  }
  @media screen and (max-width: 300px){
    .yes{
      scale: 0.9;
    }
  }
    @media screen and (max-width: 270px){
      .yes{
        scale: 0.8;
      }
    
    }
}

@media (max-width: 570px) {
  .Register_a a {
    margin-left: 0;
    margin-right: 0;
  }
  .Volunteer {
    margin-top: 15px;
  }
  .social-icon {
    padding-top: 0px;
    padding-left: 2rem;
    padding-right: 0px;
  }
}
.map-social-container {
  display: flex;
  padding: 3rem;
   
  padding-top: 3.5rem;
  padding-bottom: 5rem;/* Use flexbox to make children items align horizontally */
}

.map-container,
.social-container {
  flex: 1; /* Each container takes up equal space */
  margin-right: 20px; /* Add margin between containers */
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
  .map-social-container {
    flex-direction: column; /* Stack items vertically on smaller screens */
  }

  .map-container,
  .social-container {
    margin-right: 0; /* Remove margin for smaller screens */
    margin-bottom: 20px; /* Add margin between containers in vertical layout */
  }
}


.privacy-policy p {
  font-size: 2vh;
  font-weight: 300;
  margin: 0;
  text-decoration: underline;
}

.template {
  position: fixed;
  bottom: 0;
  background-color: rgb(231, 231, 231);
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 50px;
  justify-content: center;
  padding-top: 4px;
  &-left{
    width: 80%;
  }
  img {
    width: 15px;
    position: absolute;
    right: 10px;
    cursor: pointer;
  }
  p {
    margin: 0 auto;
    color: rgb(20, 6, 100);
    @media (max-width: 570px) {
      font-size: 14px;
    }
  }
    




  
  a {
    color: #43b7be;
  }

}
.map-container {
  flex-grow: 1; /* Each container takes up equal space */
  margin-right: 20px; /* Add margin between containers */
}

.map-container iframe {
  width: 100%; /* Make the map iframe fill the container */
}

/* Adjust map size for screens below 400px */
@media (max-width: 400px) {
  .map-container {
    flex-basis: calc(100% - 20px); /* Map container takes up full width with margin */
    margin: 10px; /* Add slight margin to all sides */
    margin-right: 0; /* Remove margin for smaller screens */
  }
}
